
header{
    background-color: grey;
}

body{
    background-color: #1c132d;
    width: 100%;
    color: #f0f0f0;
}



main{
    margin: auto;
}

/* aside {
    background-color: #f4f4f4;
    /* position: fixed; 
    height: 100%;
    width: 200px;
    padding: 20px;
} */

nav ul {
    list-style: none;
    padding: 0;
}

.signature{
    text-align: center;
}

.signature-item--2{
    margin: 50px 20px;
    background-color: #f0f0f0;
}


.signature-item{
    max-width: 800px;
    min-height: 300px;
    background-color: lightgray;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
}

/* ELEMENT 1 */

.element1-container{
    background-color: #f0f0f0;
    width: auto;
    border-radius: 5px;
    color: #1c132d;
    padding: 50px 0;
}


.motion-text--container{
    background-color: yellow;
}

/* .motion-text{
    width: 100%;
    height: 3rem;
    background-color: rgba(240, 240, 240, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2.4rem;
    line-height: 3.5rem;
    color: #1c132d;
    padding: 0.5em 0;
    transition: text-indent 17s ease-out;
}

.motion-text:hover{
    text-indent: -700px;
} */

.motion-text--container{
    height: 50px;
    white-space: nowrap;

}

.motion-text1, .motion-text2, .motion-text3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 3rem;
    line-height: 3rem;
    color: #1c132d;
    display: inline-block;

}

.motion-text1:hover{
    animation: roll 250s linear infinite;
    white-space: nowrap;
}

@keyframes roll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

.motion-text2:hover{
    animation: roll 50s linear infinite;
    white-space: nowrap;
}

@keyframes roll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

.motion-text3:hover{
    animation: roll 150s linear infinite;
    white-space: nowrap;
}

@keyframes roll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* ELEMENT 2 */
.element2-container{
    height: 700px;
    width: auto;
    background-color: #f0f0f0;
    margin-inline: 50px;
    padding: 200px 50px;
}

.element2-object{
    background-color: #1c132d;
    border-radius: 50%;
    width: 37px;
    height: 37px;
}

@keyframes bounceAround {
    
    0%{ 
        transform: translate(5px, 5px);
    }

    36%{
        transform: translate(450px, 75px);
    }

    56%{
        transform: translate(150px, 650px);
    }

    73%{
        transform: translate(500px, 650px);

    }

    100%{
        transform: translate(5px, 5px);

    }
}

.element2-object{
    transform: translate(5px, 5px);
    /* transition: transform 3s ease; */
}

.element2-container:hover .element2-object{
    animation: bounceAround 4s infinite ;
}

.stripe{
    background-color: #1c132d;
    width: 100%;
    height: 35%;
    margin: 160px -100px;
    font-weight: 800;
    text-align: center;
    font-size: 7.65rem;
    padding: 25px 0;
}