*{
    font-family:Arial,sans-serif;
}

header{
    background-color: grey;
}

body{
    background-color: green;
    width: 100%;
}



main{
    margin: auto;
}

/* aside {
    background-color: #f4f4f4;
    /* position: fixed; 
    height: 100%;
    width: 200px;
    padding: 20px;
} */

nav ul {
    list-style: none;
    padding: 0;
}

.signature{
    text-align: center;
}

.signature-item--2{
    margin: 50px 20px;
    background-color: #f0f0f0;
}


.signature-item{
    max-width: 800px;
    min-height: 300px;
    background-color: lightgray;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
}

